.header {
    padding: 20px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 20px;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #1abc9c;
    color: white;
}
.link{
  color: white;
  position:fixed;
   right:10px;
   top:5px;
}